@{
    ViewBag.Title = "Things to do";
}
<head>
    @Styles.Render("~/Content/TodoApp/css")
    @Scripts.Render("~/bundles/todoListScripts")

</head>
<section id="todoapp"></section>
<footer id="info">
    <p>Double-click to edit a todo</p>
</footer>
