@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<head>
    @Styles.Render("~/Content/TodoApp/css")
    @Scripts.Render("~/bundles/todoListScripts")

</head>
<section id="todoapp"></section>
<footer id="info">
    <p>Double-click to edit a todo</p>
</footer>

<script type="text/javascript">
    ReactDOM.render(React.createElement(TodoApp, {}), document.getElementById('todoapp'));
</script>