@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>ToDo List</h2>
        <div id="todoApp"></div>
    </div>
</div>

<script type="text/javascript">
    ReactDOM.render(React.createElement(TodoApp, {}), document.getElementById('todoApp'));
</script>