@{
    ViewBag.Title = "Things to do";
    Layout = null;
}
<head>
    @Styles.Render("~/Content/TodoApp/css")
    @Scripts.Render("~/bundles/todoListScripts")

</head>

<section id="todoapp"></section>

<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>@Html.ActionLink("Server Side Rendering", "About", "Home", new { area = "" }, new { @class = "navbar-brand" })</p>
</footer>

<script type="text/javascript">
    ReactDOM.render(React.createElement(TodoApp, {}), document.getElementById('todoapp'));
</script>